.double{
    display: flex;
    margin-top: 10vh;
    height: 45vw;

    .imageContainer{
      &:nth-of-type(1){
        width: 66.66%;
      }
      &:nth-of-type(2){
        width: 33.33%;
      }
      
      .stretchyWrapper{
        padding-bottom: 66%;
        position: relative;

        img{
          object-fit: cover;
        }
      }
    }

    &:nth-child(even){
      .imageContainer{
        &:nth-of-type(1){
          width: 33.33%;
        }
        &:nth-of-type(2){
          width: 66.66%;
        }
      }
    }

    .body{
      font-size: 16px;
      padding: 10px;
      h3{ 
        font-size: 1.2em;
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: 400;
      }

      p{
        font-size: 1em;
        margin: 0px;
        color: rgb(187, 187, 187);
        &:nth-of-type(2){
          color: rgb(101, 101, 101);
        }
      }
    }
  }